
<!DOCTYPE html>
<html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Home</title>
<%= stylesheet_link_tag 'foundation' %> 
<%= stylesheet_link_tag 'normalize' %>

</head>
<body>
  
  <!-- End Nav and Banner -->

<div class = "row">
<div class = "large-3 column">
<button type="button" style="height: 300px; width: 300px; border:10px;border-radius:150px; background-color:#3CF;" onClick="*">Network</button>
</div>
<div class = "large-5 column">
<button type="button" style="height: 300px; width: 300px; border:10px;border-radius:150px; background-color:#F03;" onClick="*">Seminars</button>
  </div>
  
  </div>


  <!-- Main Content Section -->

  
  
  
  <!-- Footer -->
  




</body>
</html>
