<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Home</title>

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/foundation.css">

  <script src="js/vendor/custom.modernizr.js"></script>
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="index.html.erb">
            Home
          </a>
          
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
</nav>
</head>
<body>
  
  <!-- End Nav and Banner -->

<div class = "row">
<div class = "large-3 column">
<button type="button" style="height: 300px; width: 300px; border:10px;border-radius:150px; background-color:#3CF;" onClick="https://www.facebook.com/photo.php?fbid=10200835320319781&set=p.10200835320319781&type=1&theater">Network</button>
</div>
<div class = "large-5 column">
<button type="button" style="height: 300px; width: 300px; border:10px;border-radius:150px; background-color:#F03;" onClick="*">Seminars</button>



  <!-- Main Content Section -->
  </div>
  
  </div>
  
  
  
  <!-- Footer -->
  
 <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          
        </div>
        <div class="small-10 columns">
          <ul class="inline-list right">
            <li><a href="index.html.erb">Home</a></li>
            <li><a href="*">Network</a></li>
            <li><a href="*">Seminars</a></li>
            <li><a href="*">Profile</a></li>
            <li><a href="*">Organizations</a></li>
	  <li><a href="https://www.facebook.com/photo.php?fbid=219923081494892&set=a.178237155663485.1073741825.163517017135499&type=1&theater">The truth about James Wang </a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>


  <script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>

</body>
</html>
s