<!DOCTYPE html>
<html>
<head>

</head>
<body>
  
 <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          
        </div>
        <div class="small-10 columns">
          <ul class="inline-list right">
            <li><a href="index.html">Home</a></li>
            <li><a href="*">Network</a></li>
            <li><a href="*">Seminars</a></li>
            <li><a href="*">Profile</a></li>
            <li><a href="*">Organizations</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>
    <script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>

</body>
</html>
