<header class="navbar navbar-fixed-top navbar-inverse">

  <div class="navbar-inner">

    <div class="container">

      <nav class="top-bar">

        <div style="float: left; width: 10%">
          <%= link_to 'Home', home_path %>
        </div>

        <div style="float: left; width: 10%">
          test
        </div>

      </nav>

    </div>

  </div>

</header>