<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav class="top-bar">
      <ul class="title-area">
        <li class="name"><h1><%= link_to "Home", root_path %></h1></li>

        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
    </nav>
    </div>
  </div>
</header>